.main{
    padding: 10px 20px;
    height: 100%;
    @media (max-width:'440px'){
        padding: 5px 10px;
    }
}
.layout{
    display: flex;
}

.sidebar{
    min-height: 97vh;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(171, 213, 93);
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    @media (max-width:'440px') {
        width: 14%;
        margin-right: 14px;
    }
}

.logo{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    h6{
        color: white;
        padding: 5px 0;
    }
}

.menu{
    color: white;
    padding-left: 1rem;
    font-size: 1.5rem;
    @media (max-width:'440px') {
        padding-left: 6px;
        font-size: 12px;
    }

    @media (max-width: '880px') and (min-width:'441px')     {
        padding-left: 6px;
        font-size: 1.2rem;
    }

    .menu-item{
        padding: 8px 6px;
        margin: 8px 0;
        font-size: 1.2rem;
        cursor: pointer;
        :hover{
            color: red;
        }
        
        i{
            font-size: 1.5rem;
            margin-right: 1rem;
            :hover{
                color: red;
            }
            @media (max-width:'440px') {
                font-size: 1.2rem;
            }
        }

        
    }
    .active{
        margin-right: 1rem;
        background-color: white;
        color: rgb(51,1,1);
        @media (max-width:'440px') {
            margin-right: 6px;
        }
    }
}






// Header
.content{
    width:100% ;
    height: 100%;
    }
    
    .header{
        min-height: 8vh;
        margin-bottom: 20px;
        box-shadow: 0 0 2px gray;
        background-color: white;
        
    }

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dashboardInfo{
        padding-left:1rem ;
        font-size: 2rem;
        @media (max-width:'440px') {
            padding-left: 10px;
            font-size: 1.2rem;
            font-weight: 500;

        }
        @media (max-width: '780px') and (min-width:'441px')     {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    .user{
        margin-right: 1rem;
        font-size: 2rem;
        @media (max-width:'440px') {
            font-size: 1.2rem;
            font-weight:600;
            margin-right: 0.75rem;
        }
        @media (max-width: '780px') and (min-width:'441px')     {
            font-size: 1.5rem;
            font-weight: 610;
        }
    }
}

// body styling
.body{
    .body-child{
        font-size: 2rem;
    }
}

.body{
    min-height: 88vh;
    margin-bottom: 2opx;
    box-shadow: 0 0 2px gray;
    background-color: white;
}
